@import "tailwindcss";

html {
  font-family: Inter, sans-serif;
  scroll-behavior: smooth;
}


body {
  @apply bg-white text-black transition-colors duration-300;
}

.dark body {
  @apply bg-[#0f172a] text-white;
}